---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const blogName = "urban-exploration-chronicles";
const projectTitle = "Urban Exploration Chronicles: Unveiling the Forgotten";
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="generator" content={Astro.generator} />
	<meta name="description" content={description} />
	<title>{title} | {blogName}</title>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>
<body class="bg-gray-900 text-gray-200">
	<div class="container mx-auto px-4 py-8">
		<Header title={projectTitle} />
		<main class="my-8">
			<slot />
		</main>
		<Footer blogName={blogName} />
	</div>
</body>
</html>
